<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main class="main" id="top">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
            <div class="container"><a class="navbar-brand" href="index.html"><span class="text-primary fs-3 ms-2 fw-bolder">en</span><span class="fw-thin text-300 fs-3">surance</span></a><button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse pt-4 pt-lg-0" id="navbarSupportedContent">
                    <p class="mb-0 ms-auto text-light fs-0 fw-normal"><i class="fas fa-phone-alt me-2"></i>Call Us Now <a class="text-light" href="tel:+604-680-9785">+215(362)4579</a></p>
                    <ul class="navbar-nav ms-auto border-bottom border-lg-bottom-0 pt-2 pt-lg-0">
                        <li class="nav-item px-2"><a class="nav-link active" aria-current="page" href="/customer/<%=id %>">Home</a></li>
                        <li class="nav-item px-2"><a class="nav-link active" aria-current="page" href="create-application">Create Application</a></li>
                        <li class="nav-item px-2"><a class="nav-link" href="#products">Products</a></li>
                        <li class="nav-item px-2"><a class="nav-link" href="#news">News &amp; Blog</a></li>
                        <li class="nav-item px-2"><a class="nav-link" href="#contact">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        

        <!-- <section> close ============================-->
        <!-- ============================================-->



        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section id="news">
            <div class="container">
                <div class="row">
                    <h2 class="text-light text-center my-5">Applications</h2>
                </div>
                <div class="row flex-center h-100 circle-blend circle-blend-left circle-primary">
                    <div class="col-12">
                        <div class="row align-items-center circle-blend circle-blend-right circle-warning">
                            <% for(app of application) { %>
                            <div class="col-md-6 col-lg-4 mb-4">
                                <div class="card p-3 h-100 card-soft-primary">
                                    <div class="card-body">
                                        <div class="d-flex flex-between-center">
                                            <p class="fw-normal mb-0 text-400"><%= app.application_id %></p>
                                            <h6><span class="badge rounded-pill text-primary" style="background:#224E8F;"><%= app.application_status %></span></h6>
                                        </div>
                                        <h5 class="fw-bold fs-2 text-200 my-3"><%= app.coverage %></h5>
                                        <p class="text-400"><%= app.vehicle_id %></p>
                                        <a class="link-primary" href="quotes/<%= app.application_id %>">
                                            <svg class="bi bi-arrow-right text-primary" xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                                            </svg>
                                            View Quote
                                        </a>
                                        <a class="link-danger" href="delete/<%= app.application_id %>">
                                            <svg class="bi bi-trash text-danger" xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" viewBox="0 0 16 16">
                                                <path d="M2.5 5.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5V6h-11v-.5zm5-3a.5.5 0 0 1 .5.5V3h1V2.5a.5.5 0 0 1 1 0V3h1V2.5a.5.5 0 0 1 1 0V3h1V2.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H2a.5.5 0 0 1-.5-.5V2h11v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h1V2H8v1h1V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1H9V3h1v-.5a.5.5 0 0 1-.5-.5v-1z"/>
                                                <path fill-rule="evenodd" d="M5.5 10.5a.5.5 0 0 1 .5.5V13a.5.5 0 0 1-1 0V11h-.5a.5.5 0 0 1 0-1h.5zm5 0a.5.5 0 0 1 .5.5V13a.5.5 0 0 1-1 0V11h-.5a.5.5 0 0 1 0-1h.5z"/>
                                            </svg>
                                            Delete Application
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                
            </div>  
            <!-- end of .container-->
        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->



        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <!-- ============================================-->
        <!-- <section> begin ============================-->
           
            <!-- <section> close ============================-->
            <!-- ============================================-->
    
    
    
            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section id="contact">
                <div class="container">
                    <div class="row">
                        <h2 class="text-light text-center mb-8">Contact Us</h2>
                        <div class="col-12 col-lg-6 col-xl-7 mb-4 order-0 order-sm-0"><a class="logo-footer fs-7" href="index.html"><span class="text-primary fw-bolder">en</span><span class="fw-thin text-300">surance</span></a>
                            <p class="text-light my-4"> <i class="fas fa-map-marker-alt me-3"></i><span class="text-light">1500 Treat Ave, Suite 200  &nbsp;</span><a class="text-light" href="tel:+604-680-9785">+604-680-9785</a><br />San Francisco, CA 94110</p>
                            <p class="text-light"> <i class="fas fa-envelope me-3 text-primary"> </i><a href="mailto:vctung@outlook.com">vctung@outlook.com </a></p>
                            <p class="text-light"> <i class="fas fa-phone-alt me-3 text-primary"> </i><a href="tel:1-800-800-2299">1-800-800-2299 (Support)</a></p>
                        </div>
                        <div class="col-12 col-lg-6 col-xl-5">
                            <h3 class="text-200 my-4">Subscribe to newsletter </h3>
                            <form class="position-relative">
                                <div class="input-group-icon"><input class="form-control form-ensurance-control" type="email" placeholder="Enter your email " aria-label="email" /></div><button class="btn btn-primary btn-subscribe" type="submit">Subscribe now</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end of .container-->
            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->
    
    
    
            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="py-0">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="d-md-flex justify-content-between pb-1 pt-4">
                                <div class="pb-4">
                                    <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                                        <li><a class="widget-list-link fs-ms" href="#">Home</a></li>
                                        <li class="ms-4"><a class="widget-list-link fs-ms" href="#">About Us</a></li>
                                        <li class="ms-4"><a class="widget-list-link fs-ms" href="#">Blog</a></li>
                                        <li class="ms-4"><a class="widget-list-link fs-ms" href="#">Services</a></li>
                                        <li class="ms-4"><a class="widget-list-link fs-ms" href="#">Terms &amp; Conditions</a></li>
                                    </ul>
                                </div>
                                <div class="pb-4">
                                    <ul class="list-unstyled list-inline my-2">
                                        <li class="list-inline-item"><a class="text-decoration-none" href="#!"><i class="fab fa-facebook-square fa-2x social-icons"></i></a></li>
                                        <li class="list-inline-item"><a class="text-decoration-none" href="#!"><i class="fab fa-instagram fa-2x social-icons"></i></a></li>
                                        <li class="list-inline-item"><a class="text-decoration-none" href="#!"><i class="fab fa-twitter-square fa-2x social-icons"> </i></a></li>
                                        <li class="list-inline-item"><a class="text-decoration-none" href="#!"><i class="fab fa-linkedin fa-2x social-icons"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of .container-->
            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->
    
    
    
            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="py-0 bg-black">
                <div class="container">
                    <div class="row justify-content-md-between justify-content-evenly py-4">
                        <div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
                            <p class="fs--1 my-2 fw-light text-200">All rights Reserved &copy; Your Company, 2021</p>
                        </div>
                        <div class="col-12 col-sm-8 col-md-6">
                            <p class="fs--1 fw-light my-2 text-center text-md-end text-200"> Made with&nbsp;<svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#F95C19" viewBox="0 0 16 16">
                      <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                    </svg>&nbsp;by&nbsp;<a class="fw-bold text-primary" href="https://themewagon.com/" target="_blank">ThemeWagon</a></p>
                        </div>
                    </div>
                </div>
                <!-- end of .container-->
            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->
    
        </main>
        <!-- ===============================================-->
        <!--    End of Main Content-->
        <!-- ===============================================-->
    
    
    
        <!-- ===============================================-->
        <!--    JavaScripts-->
        <!-- ===============================================-->
        <script src="../vendors/popper/popper.min.js"></script>
        <script src="../vendors/bootstrap/bootstrap.min.js"></script>
        <script src="../vendors/anchorjs/anchor.min.js"></script>
        <script src="../vendors/is/is.min.js"></script>
        <script src="../vendors/fontawesome/all.min.js"></script>
        <script src="../vendors/lodash/lodash.min.js"></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
        <script src="../vendors/prism/prism.js"></script>
        <script src="../assets/js/theme.js"></script>
    </body>
    
    </html>